<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>Image</dt>
      <dd> <img src="<%= @the_photo.image %>"></dd>

      <dt>Caption</dt>
      <dd> <%= @the_photo.caption %></dd>

      <dt>Owner</dt>
      <dd><%= @the_photo.owner.username %></dd>

      <dt> Posted</dt>
      <dd><%= time_ago_in_words(@the_photo.created_at) %> ago</dd>

      <dt>Likes count</dt>
      <dd><%= @the_photo.likes_count %></dd>

      <dt>Comments count</dt>
      <dd><%= @the_photo.comments_count %></dd>

      <dt>Fans</dt>
      <dd> 
      <% @list_of_fans.each do |a_fan| %>
        <%= a_fan.username%>,
      <% end %>
      </dd>

      <dt>Add a fan</dt>
      <dd>
        <% if @current_user_fan == nil  %>
        <form action="/insert_like" method="post">
          <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
          <button>Like</button>
        </form>
        <% else  %>
        <a href="/delete_like/<%= @current_user_fan.id %>"> Unlike </a>
        <% end  %>
      </dd>

    </dl>
  </div>
</div>

<div>

    <h2>
      Comments
    </h2>
<table>
  <tbody><tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

    <% @list_of_comments.each do |a_comment| %>
    <tr>
      <td><%= a_comment.author.username %></td>

      <td><%= a_comment.body %></td>

      <td><%= time_ago_in_words(a_comment.created_at) %> ago</td>
    </tr>
    <% end %>  
</tbody></table>
</div>

<div>
<h3>Add a new comment</h3>
<form action="/insert_comment" method="post">
  <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
</div>
